body {
	background: black none no-repeat;
    background-repeat: no-repeat;
	background-position: top 50px right 0px;
	background-attachment: fixed;
	background-size: 483px 679px;
	text-align: center;
	font-size: 16px;
	color: white;
	margin: 20px;
	padding: 40px;
}

h2 {
	color: yellow;
	text-align: center;
}

p {
	color: white;
}


a {
    	color: blue;
}


#topnav {
    position: absolute;
    left: 50%;
    margin-left: -150px;
    background: green;
}

.tabs {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
}

.tabs_label {
    padding: 10px 16px;
    position: relative;
    display: block;
    text-align: left;
    top: 5;
    left: 10;
    max-width:500px;
    width: 500px;
    z-index: 1;
}

.tabs_radio {
    display: none;
}


.tabs_content {
    position: relative;
    padding: 30px;
    max-width: 1000px;
    width: 1000px;
    order: 1;
    top: 10;
    margin-left: 205px;
    margin-top: -110px;
    border: 3px solid red;
    display: none;
    z-index: 2;
}

.tabs_radio:checked + .tabs_label {
  font-weight: bold;
  color: red;
  border-left: 2px solid red;
}

.tabs_radio:checked+.tabs_label+.tabs_content {
    display:inline-block;  
}