body {
	background: black url(img/bg_planets.jpg) no-repeat;
	background-position: bottom 0px right 0px;
	background-size: 1344px 756px;
	background-attachment: fixed;
	text-align: center;
	font-size: 16px;
	color: white;
	margin: 20px;
	padding: 40px;
}

h2 {
	color: yellow;
	text-align: center;
}

p {
	color: white;
}


a {
    color: white;
text-decoration-line:none;
font-weight:bold;
}


#logo{
position: absolute;
left: 50px;
top: 10px;
display:inline;
}

#navbutton {
    width: 300px;
    text-align: center;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background: rgba(0, 0, 0, .7);
    display: inline;
}


#navbutton:hover{
    background-color: blue;
    color:black;
}

#topnav {
    z-index: 1;
    width: 100%;
    text-align: right;
}
