/* basic formatting (links, paragraphs, etc) ==========================*/
body {
	background: black;
	text-align: left;
	font-size: 16px;
	color: white;
	margin: 20px;
	padding: 40px;
}

p {
	color: white;
}

a {
    color: goldenrod;
    text-decoration-line:none;
}


a:hover{
    text-decoration: underline;
}

h1 {
    margin-top:0;
    padding-left:20px;
    margin-bottom:0;
}

hr {
    border-color:darkgray;
    margin:10px;
}

#flexbox{
    display:flex;
    justify-content: space-evenly;
}

#topbar {
    z-index: 1;
    width: 100%;
    height: 150px;
    position: absolute;
    top:0;
    left: 0;
    text-align: right;
    background-color:darkred;
}

#banner {
    width:100%; 
    display: block; 
    max-height:100px; 
    margin-bottom: 10px;
    overflow:hidden;
    text-align: center;
}

.leftbar{
    width: 185px;;
    min-width: 150px;
    position: inline-block;
}


#mainbody{
    position: inline-block;
    width: 80%;
    border: solid darkred 3px;
    padding-right: 20px;
    padding-top: 20px;
    }

#tableofcontents{
    margin-left:40px;
}

/*in text images and caption ==============================*/
#rightbox{
    position: relative;
    border: solid darkred 3px;
    width: 20%;
    float: right;
    text-align:center;
    margin-left: 10px; 
    margin-bottom: 10px;
}

#rightboxhead{
    width:100%;
    background-color: darkred;
    padding-top: 2px;
    padding-bottom: 2px;
    text-decoration-style: bold;
    font-size: 1.5em;
    text-align:center;
}

.rightboxcontent{
    width:100%;
    border-top:solid darkred 1px;
}

div.rightboxcontent th{
    font-weight:normal;
    border-top:solid black 2px;
}

#indexbox{
    display:inline-block;
    width:47%;
    margin-left: 10px;
    overflow:auto;
    height:auto;
}

/* overview/gallery buttons on character page========================*/
.topbuttonclicked{
    display:inline-block;
    width:20%;
    background-color: rgb(2, 2, 87);
    padding:10px;
    margin-left: 10px;
    border-radius: 9px;
}

.topbutton{
    display:inline-block;
    width:20%;
    background-color: navy;
    padding:10px;
    margin-left: 10px;
    border-radius: 9px;
}

.topbutton:hover{
    background-color: rgb(2, 2, 87);
}

div.topbutton a {
    padding:10px;
    padding-left:25px;
    padding-right:25px;
}

div.topbutton a:hover {
    font-weight: bold;
    text-decoration: none;
}
/* tabs for character galleries*/
.tabs {
    display: inline-block;
    max-width: 100%;
}

.tabs_label {
    padding: 10px 16px;
    position: absolute;
    display: inline-block;
    text-align: center;
    top: 320px;
    left: 50%;
    max-width:300px;
    z-index: 1;
}

.tabs_radio {
    display: none;
}


.tabs_content {
    position: relative;
    max-width: 100%;
    order: 1;
    margin-top:90px;
    display: none;
    z-index: 2;
    margin-left:10px;
    text-align: center;
}

.tabs_radio:checked + .tabs_label {
  font-weight: bold;
  color: goldenrod;
  border-bottom: 2px solid goldenrod;
}

.tabs_radio:checked+.tabs_label+.tabs_content {
    display:block;  
}
/*gallery formatting=================================*/
#imgcontainer{
    width: 300px;
    height: 300px;
    overflow:hidden;
    object-fit:cover;
    position:relative;
    display:inline-block;
}

div.galleryimg{
    height:250px;
    width:250px;
    display:inline-block;
    text-align: center;
    vertical-align: middle;
    margin:7px;
    margin-bottom: 14px;
    position:relative;
    border: solid 2px rgb(45, 45, 45);
    cursor: pointer;
}

div.galleryimg img{
    max-width:100%;
    max-height:100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
}

div.imgcaption{
    width:100%;
    background-color: aqua;
    display:none;
}
/*modal formatting for gallery*/

.modal {
    display: none;
    position: fixed;
    text-align: center;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.616);
    z-index: 1;
  }
  
  .close{
    position: absolute;
    right: 10px;
    top: 10px;
    height: 150px;
    font-size: 60px;
    z-index: 1;
    cursor: pointer;
  }
  
  .modal-content{
    display: block;
    height:100%;
  }
  
  .modal-content img{
    max-width: 90%;
    max-height: 100%;
    z-index: 2;
  }

/*buttons in front page ============================*/
.buttoncontainer {
    padding:20px;
    text-align: center;
    display:inline-block;
}

.buttoncontainer :hover{
    opacity:0.9;
}
/*footer=======================================*/
#footer{
    width:100%;
    text-align: center;
    position:relative;
    display:block;
    top:100px;
    left:0;
    padding:20px;
    font-size: 80%;
}

/*Details formatting========================*/
summary{
    font-size: 1.5em;
    padding-bottom:10px;
}

#easteregg{
    position:fixed;
    bottom:-5px;
    right:0;
}



@media only screen and (max-width: 800px) {
    #flexbox{
        display:block;
    }
    .leftbar{
        display: block;
        width:100%;
    }

    .leftbar img{
        max-width:30%;
    }

    #mainbody{
        width:100%;
    }
    a {
        padding-left:0px;
    }
    .tabs_label {
        top: 90%;
        left:40%;
    }
    #rightbox{
        width:95%;
        margin-left: 0;
    }

    div.topbutton a {
        padding:0px;
        padding-left:-5px;
        padding-right:0px;
    }
    #indexbox{
        width:90%;
        display:block;
        margin:auto;
        margin-top:20px;
    }


  }