body {
	background-color: black;
	text-align: center;
	font-size: 16px;
	color: white;
	margin: 20px;
	padding: 40px;
}

h2 {
	color: yellow;
	text-align: center;
}

p {
	color: white;
}


a {
    	color: white;
}

#box{
	width: 40%;
	overflow-y: auto;
	position: relative;
	top: 30px;
	height: 550px;
	display:inline-block;
	text-align: center;
}

